</div>

<footer class="footer">
    <div class="contain">
        <div class="footer__list">
            <div class="footer__item">
                <div class="footer__title">г. Воронеж ТД «Стройдвор»</div>
                <div class="footer__text">
                    (473) 235-67-99 - торговый зал<br>
                    (473) 235-68-50 - торговый зал<br>
                    (473) 235-53-56 - комм. отдел<br>
                    ул. Донбасская, 23а
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Воронеж «Газсервис»</div>
                <div class="footer__text">
                    (473) 251-39-40<br>
                    ул. Дорожная, 22б<br>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title">г. Нововоронеж</div>
                <div class="footer__text">
                    8 (47364) 296-55<br>
                    ул. Октябрьская, 10<br>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Острогожск</div>
                <div class="footer__text">
                    8 (47375) 41-7-41<br>
                    394855, ул. Прохоренко 113

                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Анна</div>
                <div class="footer__text">
                    8 (47346) 7-00-80, 7-00-51<br>
                    ул. Ленина, 35

                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Лиски</div>
                <div class="footer__text">
                    8 (47391) 4-94-14<br>
                    397900, ул.

                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Бобров</div>
                <div class="footer__text">
                    ул. Гагарина, д.184
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__title"> г. Лиски «Газсервис»</div>
                <div class="footer__text">
                    8 (47391) 4-15-41<br>
                    ул. Коммунистическая, 40
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="contain">
            <div class="footer__cop">
                © «WARMWATER», 2005­-2016
            </div>
            <div class="footer__juno">
                Интернет-компания «Юнона»—<a href="#" class="link">разработка сайта</a>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="js/main.js"></script>
</body>
</html>