<div class="modal">
    <a href="#x" class="overlay" id="popup"></a>
    <div class="popup">
        <div class="popup__wp">
            <div class="popup__top"><a href="#x" class="popup__close icon-close"></a></div>
            <div class="popup__content">
                <div class="form__call-text">
                    <div class="title">Ваш заказ успшно оформлен!</div>
                    <div class="popup__text">
                        <p>Заказ № 378596 доступен для самовывоза по адресу Донбасская, 23а.</p>
                        <p>Подробности уточняйте по телефону 235-67-99</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>