/*Card*/

.card__left {
  @extend %inb;
  width: 315px;
}

.card__right {
  @extend %inb;
  background: $color3;
  padding: 13px;

  box-sizing: border-box;


  width: 644px;
  padding: 11px 13px 13px;
  box-sizing: border-box;
  margin-left: 9px;
}

.card__trumbs {
  background: $color3;
}

.card__controls {
  float: right;
  width: 128px;
  position: relative;
  padding-top: 14px;
}

.card__price-sale {
  @extend %fs17;
  line-height: 1;
  color:#7d7d7d;
  position: absolute;
  top: -4px;
  left: 3px;
}

.card__price {
  @extend %fs28;
  font-weight: bold;
  line-height: 1;

}

.card__controls .btn {
  padding: 10px 30px;
  margin: 11px 0;
  box-shadow: 0 1px 0 #6f0f23; /* drop shadow */


}


.card__n {
  font-weight: bold;
  @extend %fs17;
  margin-right: 9px;
}

.card__controls .link-mod {
  display: inline-block;
  @extend %fs14;
}

.rating.rating-size {
  @extend %inb;
  vertical-align: middle;
  width: 77px;
  margin-left: 5px;
  margin-top: -4px;
}

.rating-size .rating__item {
  height: 14px;
}

.card__description {
  margin: 11px 0 7px;
  line-height: 1.5;
}

.card__description-more {
  display: none;
}

.lines {
  font-size: 0;
  margin-bottom: 6px;
}


.lines__item {
  border-radius: 2px;
  margin-left: 2px;
  height: 20px;
  width: 3px;
  @extend %inb;
  background-color: #85bb1d;
  box-shadow: inset 0 -3px 5px rgba(0,0,0,.15);


}

.lines.lines-0 .lines__item {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}

.lines.lines-1 .lines__item:nth-child(n+2) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}
.lines.lines-2 .lines__item:nth-child(n+3) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}
.lines.lines-3 .lines__item:nth-child(n+4) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}
.lines.lines-4 .lines__item:nth-child(n+5) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}
.lines.lines-5 .lines__item:nth-child(n+6) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}
.lines.lines-6 .lines__item:nth-child(n+7) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}

.lines.lines-7 .lines__item:nth-child(n+8) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}

.lines.lines-8 .lines__item:nth-child(n+9) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}

.lines.lines-9 .lines__item:nth-child(n+10) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}

.lines.lines-10 .lines__item:nth-child(n+11) {
  background-color: #ddd;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.35);
}


.card__sale {
  background: $color7;
  border-radius: 6px;
  color: $color1;
  text-align: center;
  display: inline-block;
  padding: 4px 14px;
  margin-right: 12px;
  line-height: 1;

}

.card__main {
  width: 450px;
  margin-left: 5px;
}

.card__nav-min {
  width: 521px;

}

.card__nav__list {
  margin: 0;
  padding: 0;
  margin-top: 45px;
}

.card__nav__item {
  display: inline-block;
  padding: 14px 27px 19px;

}

.card__nav__link {
  text-decoration: none;
  color: $color4;
  @extend %fs17;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  /*padding: 2px 13px;*/


  margin-right: 15px;
}

.card__nav-active {
  background: $color3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__nav-active .card__nav__link {
  border-bottom: transparent;
}



table caption {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

table {
  @extend %fs17;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

td {
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
}

table tr:nth-child(odd) td {
  background-color: rgba(203, 203, 205, 0.5);
}

td:first-child {
  color:$color2;
}


.card__table__td {
  padding-right: 17px;
}



.card__nav .card__bg {
  background: $color3;
  margin-top: 0px;
  padding: 16px 27px;
}



.card__nav .card__table .card__table__td {
  width: 255px;
}

.card__nav .card__table {
  width: 695px;
  margin-bottom: 19px;
}

.card__table__link {
  text-align: center;
  display: block;
  margin: 9px 0 0;
}


.card__right .card__table {
  @extend %fs14;
}

.card__right .card__table td {
  background: none;
}

.card__table__td {
  padding-right: 17px;
}





.card__table__link {
  text-align: center;
  display: block;
  margin: 9px 0 0;
}



.card__nav-min__list {
  margin: 0;
  padding: 0;
  margin-top: 45px;
}

.card__nav-min__item {
  display: inline-block;
  padding: 2px 13px 9px;
  margin-right: 15px;
}

.card__nav-min__link {
  text-decoration: none;
  color: $color4;
  @extend %fs17;
  font-weight: bold;
  border-bottom: 1px dashed $color4;
  display: block;
  /*padding: 2px 13px;*/

}

.card__nav-min-active {
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__nav-min-active .card__nav-min__link {
  border-bottom: transparent;
}



.card__bg {
  background: $color1;
  margin-top: -1px;
  padding: 21px 9px;
}



.card__characteristics {

}

.review {
  display: none;
}

.review__item {
  margin: 20px;
  margin-bottom: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #9c9c9c;
}

.review__item:last-child{
  border: 0;
  padding-bottom:0px;
  margin-bottom: 15px;
}

.review__date {
  color:#737373;
  @extend %fs14;
}

.review__row {
  @extend %fs17;
  margin-bottom: 11px;
}

.review__left {
  @extend %inb;
  color: $color2;

  width: 20%;
}

.review__right {
  @extend %inb;
  width: 79%;
}

/*Card end*/