/*Discount*/

.discount__date {
  color: #252525;
  margin: 12px 0 3px;
}

.discount__name {
  font-weight: bold;
  @extend %fs17;
  color:#252525;
}

.discount__img {
  width: 100%;
  width: 221px;
  height: 144px;
}

.discount__list {

  letter-spacing: 26px;
}

.discount__item {
  @extend %inb;
  width: 220px;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 40px;
  text-decoration: none;
}

.discount .link-mod2 {
  @extend %fs14;
}

.discount .controls {
  float: right;
  font-style: italic;
  color:#252525;
  @extend %fs16;
  margin-bottom: 0;
  margin-top: 0;
}

.discount .controls .jq-selectbox__select {
  @extend %fs16;
}

.discount .select2 .select__list {
  width: 222px;
}

.discount .select2 .jq-selectbox__select {
  border: 1px solid #ccccce;
  border-radius: 3px;
  padding: 4px 32px 5px 9px;
}

.discount .select2 .jq-selectbox__dropdown {
  list-style-type: none;
  margin: -1px 0 0;
  padding: 0;
  width: 222px;
  box-sizing: border-box;
  border: 1px solid #ccccce;
  border-bottom: 0;
  border-top: 1px solid #ccccce;
  border-radius: 3px;
}

.discount .select2 .jq-selectbox li {
  border-bottom: 1px solid #ccccce;
  color: #000;
  padding: 7px 9px;
  @extend %fs16;
}

.discount .select2 .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  background: url("../img/icon-trigger.png");
  width: 15px;
  height: 8px;
  border: 0;
}



/*Discount END*/
