/*Footer*/


.footer {
  position: relative;
  overflow: hidden;
  margin-top: -201px;
  height: 201px;
}

.footer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.8);
}

.footer__list {
  column-count: 5;
  column-gap: 0px;
  @extend %fs12;
  margin-top: 18px;

}
.footer__item {
  @extend %inb;
  color: #5a5a5a;
  margin-bottom: 9px;
  box-sizing: border-box;
  width: 196px;
  padding-left: 21px;
}

.footer__item:first-child,.footer__item:last-child {
  padding-left: 0;
}

.footer__text {
  margin-top: 5px;
  line-height: 1.3;
}

.footer__title {
  font-weight: bold;

}

.footer__bottom {
 background: #444444;
  padding: 16px 0;
  @extend %fs14;
  color:#808080;
  margin-top: 13px;
}

.footer__cop,.footer__juno {
  @extend %inb;
  width: 49%;
}

.footer__cop {
  text-align: left;
}

.footer__juno {
  text-align: right;
}

.footer__juno .link {
  color: $color1;
}



/*Footer end*/