/*Header*/
.header__top {
  background: $color3;
  padding: 4px 0;
}

.header .link {
  color:$color4;
}

.delimiter {
  @extend %inb;
  height: 20px;
  width: 1px;
  background:#ccccce ;
  margin: 0 20px;
}

.header__count {
  background: $color2;
  color: $color1;
  padding: 0px 11px;
  margin: 0 7px;
  border-radius: 3px;

}

.header__sign {
  @extend %inb;
  margin-right: 32px;
}

.header__basket {
  @extend %inb;
}

.select__list {
  width: 236px;
  @extend %fs15;
}

.logo {
  margin: 22px 0;
}

.logo__link {
  text-decoration: none;
  display: block;
}

.header__right{
 float: right;
  margin-top: 32px;
}

.header__phone {
  text-align: right;
  width: 195px;
  @extend %inb;
  margin-right: 24px;
  @extend %fs15;
  margin-top: -4px;

}

.header__tel {
  @extend %fs24;
  font-weight: bold;
}

.header__tel:hover {
  text-decoration: none;
}

.search {
  @extend %inb;
}

.header__links {
  width: 450px;
  float: right;
  margin-top: 2px;
  @extend %fs14;
}

.menu {
  background: $color2;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

}

.menu__item {
  @extend %inb;
}

.menu__item .menu__link {
  color:$color1;
  text-transform: uppercase;
  display: block;
  padding: 16px 50px;
  font-weight: bold;
}


.menu__item .menu__link:hover {
  background: rgba(36, 36, 36, 0.3);
  text-decoration: none;
}

.search {
  position: relative;
}

.search__text {
  border: 1px solid #ccccce;
  border-radius: 3px;
  width: 379px;
  padding: 8px 35px 8px 57px;
  box-sizing: border-box;
  background: url("../img/icon-search.png") 14px no-repeat;
  font-size: 18px;
  font-style:italic ;
}

.search__btn {
  background: url("../img/icon-enter.png") 5px no-repeat;
  margin-left: 5px;
  width: 30px;
  height: 100%;
  border: 0;
  position: absolute;
  bottom: 0px;
  right: 0;
}



.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}
.jq-selectbox__select {

  @extend %fs15;

  /*padding: 13px 14px;*/
  display: block;
  cursor: pointer;
/*  border-bottom: 1px solid #c6c6c8;*/

}


.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox .sel {
  display: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 7px;
  right: 4px;
  width: 0;
  height: 0;
  border-top: 5px solid #959595;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}
.jq-selectbox__dropdown {
  list-style-type: none;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #c0c0c1;
  border-bottom: 0;

  border-top: 1px solid #c6c6c8;

}


.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {




  padding: 13px 14px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #e2e2e3;

}
.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #AAA;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-selectbox li {


  color:#959595;
  padding: 13px 14px;
  display: block;
  cursor: pointer;
  line-height: 1;
  background: $color1;
}




/*Header end*/