/*Item*/


.item-col1 .item {
  width: 100%;
  margin-bottom: 12px;
}

.item-col1 .item__info {
  @extend %inb;
}

.item-col1 .item__img {
  @extend %inb;
  max-height: 100px;
  margin-right: 32px;
}

.item-col1 .item__table__col {
  @extend %inb;
  margin-right: 24px;
}


.item-col1 .item__name {
  @extend %fs15;
  margin-top: 6px;
  margin-bottom: 38px;
  position: relative;
  display: inline-block;
  overflow: visible;
  position: relative;
}

.item-col1 .item__link {
  padding: 9px 12px;
  display: block;
}
.item-col1 .item__wrap {
  padding: 0;
}
.item-col1 .item-sale .item__name:before ,.item-col1 .item-stock .item__name:before {
  background: $color7;
  border-radius: 6px;
  color: $color1;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  right: 0;
  content: 'Суперцена';
  margin-right: -92px;
  padding: 1px 7px;
  line-height: 1;
  top: 2px;
}

.item-col1 .item-stock .item__name:before {
  content: 'Акция';
  background: #fc880f;
  right: 0;
  margin-right: -67px;
}

.item-col1 .item-sale .item__wrap:before ,.item-col1 .item-stock .item__wrap:before {
  display: none;
}

.item-col1 .item__controls {
  width: 92px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  margin-right: 26px;
  margin-top: 21px;
}

.item-col1 .item__controls .link-mod {
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  left: 0;
  right: 0;
}

.item-col1 .rating {
  position: absolute;
  margin-top: 32px;
}


.item-col1 .item__price {
  font-size: 22px;
  text-align: right;
  margin-bottom: 12px;
}

.item-col1 .item__price-sale {
  text-align: right;
  position: absolute;
  margin-top: -14px;
  left: 0;
  right: 0;
}


  /*.item-col3 .btn{
    display: none;
  }*/

.item-col3 .link-mod {
  margin: 6px 0;
  float: right;
}

.item-col3 .item__price {
  float: left;
}

.item-col3 .item__price {
  font-size: 22px;
}

.item-col3 .item__wrap {

}

.item-col3 .item__controls {
  text-align: right;
  position: relative;

}

.item-col3 .item__table {
  margin-bottom: 18px;
}

.item-col3 .item__price-sale {
  position: absolute;
  top: 0;
  margin-top: -12px;
}

.item-col3 .item-sale .item__wrap:before {
  left: 140px;
}


.item-col3 .item:hover .btn {
  display: inline-block;
  margin-top: 4px;
}

.item-col3 .item:hover .item__wrap {
  border: 1px solid #dcd4f9;
  box-shadow: 0 0 7px rgba(0,0,0,.2); /* drop shadow */
  z-index: 3;
}

.item-col3 .item__table .item__table__col:last-child,.item-col3 .btn {
  display: none;
}

.item-col3 .item:hover .item__table__col:last-child {
  display: inherit;
}

.item-col3 .item {
  width: 223px;
  margin:6px 7px;
}

.item-col3 .rating {
  margin: 20px 0 6px;
}

.item-col3 .item:hover {
 height: 261px;
}

.item-col4 .item {
  width: 170px;
  margin-right: 6px;
}




.item-col4 .item:hover {
  height: 259px;
}

.item-col4 .item__table,.item-col4 .btn {
  display: none;
}

.item-col4 .item:hover .item__table {
  display: block;
}

.item-col4 .item:hover .btn {
   display: inline-block;
    position: absolute;
    z-index: 3;
    margin-top: -35px;
    right: 12px;
 }

.item-col4 .rating {
  margin-top: 16px;
  margin-bottom: 3px;
}


.item-col4 .item:hover,.item-col3 .item:hover {
  border: 0;
}

.item-col4 .item:hover .item__wrap {
  border: 1px solid #dcd4f9;
  box-shadow: 0 0 7px rgba(0,0,0,.2); /* drop shadow */
  z-index: 3;
  width: 181px;
  padding-right: 23px;
  padding-bottom: 34px;
}



/*
.item .item__wrap:after {
  content: '';
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  background: red;
  width: 20px;
  height: 100%;
}
*/



.item__wrap  {
  position: relative;
  background: $color1;
  box-sizing: border-box;
  padding: 12px 12px 12px;
  display: block;
  text-decoration: none;
}

.item__wrap:hover {
  text-decoration: none;
}

.item__info {
  @extend %inb;
}

.item {
  @extend %inb;
  box-sizing: border-box;
  letter-spacing: normal;
  position: relative;
  border: 1px solid #dcd4f9;
  line-height: 1;
  text-decoration: none;
}

.item__link {
  display: inline-block;
}

.item__link:hover {
  text-decoration: none;
}

.item__img {
  max-height: 144px;
  display: block;
  margin: 0 auto;
}

.item__name {
  @extend %fs14;
  line-height: 1.2;
  text-align: left;
  max-height: 32px;
  overflow: hidden;
  color:$color4;

}

.item__name__left,.item__name__right {
  @extend %inb;
}

.item__price {
  @extend %fs20;
  color: black;
  font-weight: bold;
  letter-spacing: 0.14px;
  line-height: 1.4;
  text-align: left;
}

.item__price-sale {
  color:#7d7d7d;
  @extend %fs15;
  font-weight: normal;
  text-align: left;
}

.item__table {
  color: #7d7d7d;
  @extend %fs14;
  margin-top: 6px;
  margin-bottom: 12px;
  line-height: 1;
  text-align: left;
}


.item-sale .item__wrap:before ,.item-stock .item__wrap:before {
  background: $color7;
  border-radius: 6px;
  color: $color1;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  left: 90px;
  padding: 1px 7px;
  line-height: 1;
  top: 10px;
  content: 'Суперцена';
}

.item-stock .item__wrap:before {
  content: 'Акция';
  background: #fc880f;
  left: 164px;
}

.item-slider .item-stock .item__wrap:before {
  left: 219px;
}

.item-slider .item__img {
  max-height: 72px;
  @extend %inb;
}

.item-slider .item__info {
  @extend %inb;
  width: 179px;
}


.item-hover {
 /* display: none;*/
}

.item-slider .item__controls {
    text-align: left;
    overflow: hidden;
    width: 178px;
    float: right;
    margin-top: -17px;

}

.item-slider .item__price {
  float: left;
  @extend %fs17;
  margin-top: 8px;
}

.item-slider .link-mod {
  margin: -21px 0 0;
  position: absolute;
  right: 12px;
  top: 93px;
}

.item-slider .item__price {
  float: left;
}



.item-hover {
 /* position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #dcd4f9;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  background: $color1;
  text-align: right;*/
  display: none;
  text-align: right;
  margin-left: 73px;
  margin-top: 4px;
}

.item-slider .item:hover .item-hover {
  display: block;
}
.item-slider .item:hover .item__wrap {
  z-index:3;
}

.item-slider .item:hover {

}


.item-slider .item__table {
  margin-bottom: 0px;
  margin-top: 11px;
}



.item-slider .item__price-sale {
  position: absolute;
  top: 0;
  margin-top: -12px;
}

.item-slider .item-sale .item__wrap:before {
  left: 197px;
  top:8px;
}


/*.item-slider .item:hover .btn {
  display: inline-block;
  margin-top: 4px;
}*/

.item-slider .item {
  border: 1px solid #dcd4f9;
  box-shadow: 0 0 7px rgba(0,0,0,.2); /* drop shadow */
}



/*.item-slider .item:hover .item__table__col {
  display: block;
}*/

.item-slider .item {
  width: 281px;
  margin:6px 7px;
}

.item-slider .rating {
  margin: -1px 0 8px;
}

/*.item-slider .item:hover {
  height: 261px;
}*/

/*Item end*/