/*Menu*/

.cd-accordion-menu {
  text-align: left;
  width: 100%;
  padding: 0;
  border: 1px solid #b7b7b8;
  border-top: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,.17);
  list-style-type: none;
  margin: 0;

}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
  padding: 0;
}
.cd-accordion-menu li {
  position: relative;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
 .cd-accordion-menu label, .cd-accordion-menu__link {
  position: relative;
  display: block;
  padding: 10px 10px;
  padding-right: 30px;
  padding-bottom: 9px;
  background: $color3;
  color: $color4;
  text-decoration: none;
  @extend %fs16;
  border-top: 1px solid #c6c6c8;
}



.cd-accordion-menu  .has-children label::before, .cd-accordion-menu  .has-children label::after, .cd-accordion-menu__link::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 10px;
  height: 7px;
  position: absolute;
  top: 50%;

}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu  .has-children label::before, .cd-accordion-menu  .has-children label::after {
  background-image: url(../img/icon-item.png);
  background-repeat: no-repeat;
}
.cd-accordion-menu  .has-children label::before {
  /* arrow icon */
  right: 9px;
  margin-top: -3px;
  background-position: 0 0;

}
.cd-accordion-menu  .has-children label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu__link::after {
  /* image icon */
  left: 36px;
  background: url(../img/cd-icons.svg) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  transform: rotate(-180deg);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul .cd-accordion-menu__link {
  background: $color1;
  border-top: 1px solid #e2e2e3;
  }

.cd-accordion-menu ul label:hover,.cd-accordion-menu ul .cd-accordion-menu__link:hover {
  color:$color2;
}

.has-children li:hover .menu-hover{
  display: block;
}

.menu-hover {
  display: none;
/*  opacity: 0;
  transition: opacity .1s;*/
  width: 625px;
  position: absolute;
  left: 237px;
  top: 0;
  border: 1px solid #b7b7b8; /* stroke */
  background:$color1;
  box-shadow: 0 3px 6px rgba(0,0,0,.17);
  box-sizing: border-box;
  padding: 30px 0 10px;
  min-height: 220px;
  z-index: 3;

}
.menu-hover__item {
  @extend %inb;
  box-sizing: border-box;
  padding-left: 34px;
  width: 198px;

}

.menu-hover__title {
  font-weight: bold;
  font-size: 17px;
  color: $color4;
  text-transform: uppercase;
  margin-bottom: 23px;
  min-height: 44px;
  text-decoration: none;
  display: block;

}

.menu-hover__link {
  @extend %fs16;
  text-decoration: none;
  border-bottom: 1px solid $color2;
  color:$color2;
  margin: 0 0 18px;
  display: inline-block;

}


.menu-hover__link:hover {
  border-bottom: 1px solid transparent;
}


/*Menu end*/