$color1:white;
$color2:rgb(0, 138, 173);
$color3:rgb(237, 237, 240);
$color4:rgb(36, 36, 36);
$color5:#ccccce;
$color6:#23bee6;

$color7:#85bb1d;


html,
body,
.wrapper {
  height: 100%;
}
.wrapper__content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 240px;
}
.footer {
  height: 80px;
  margin-top: -80px;
}

.rouble {
  font-family: 'ALSRubl';
 /* font-weight: normal;*/
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

.page {
  font-family: 'calibri';
  font-size: 15px;
}

%fs12 {
  font-size: 12px;
}


%fs14 {
  font-size: 14px;
}

%fs15 {
  font-size: 15px;
}

%fs16 {
  font-size: 16px;
}

%fs17 {
  font-size: 17px;
}


%fs20 {
  font-size: 20px;
}

%fs24 {
  font-size: 24px;
}

%fs28 {
  font-size: 28px;
}




%inb {
  display: inline-block;
  vertical-align: top;
}

.contain {
  width: 980px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.temp {
  height: 1579px;
}


/*Menuleft*/

/*Menuleft end*/

.block {

}

.block__left {
  width: 236px;
  margin-right: 20px;
  @extend %inb;
}

.block__right {
  @extend %inb;
  width: 720px;

}

.banner {
  margin-top: 25px;
  text-decoration: none;
  display: block;
}

.stand {

}

.stand__title {
  background: $color2;
  color:$color1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.news {

}

.news__date {
  @extend %fs14;
  color:#5a5a5a;
  font-weight: bold;
  margin-bottom: 7px;
  padding-bottom: 6px;
  border-bottom: 1px solid #5a5a5a ;

}

.news__link {
  color:#5a5a5a;
}

.news__link:hover {
  text-decoration: none;
}

.news__item {
  margin-top: 8px;
  margin-right: 19px;
  width: 218px;
  color:#5a5a5a;
  @extend %inb;
}


.rating {
  width: 52px;
  font-size: 0;
}
.rating__item {
  background:url("../img/icon-star-a.png");
  background-size:cover ;
  @extend %inb;
  height: 10px;
  width: 20%;
}

/*
.rating.rating-1 .rating__item {
  background:url("../img/icon-star.png");
}

.rating.rating-1 .rating__item:first-child {
  background:url("../img/icon-star-a.png");
}
*/

.rating.rating-0 .rating__item {
  background:url("../img/icon-star.png");
  background-size:cover ;
}

.rating.rating-1 .rating__item:nth-child(n+2) {
  background:url("../img/icon-star.png");
  background-size:cover ;
}
.rating.rating-2 .rating__item:nth-child(n+3) {
  background:url("../img/icon-star.png");
  background-size:cover ;
}
.rating.rating-3 .rating__item:nth-child(n+4) {
  background:url("../img/icon-star.png");
  background-size:cover ;
}
.rating.rating-4 .rating__item:nth-child(n+5) {
  background:url("../img/icon-star.png");
  background-size:cover ;
}


.btn {
  border-radius: 6px;
  background-color: #ef1d63;
  color: $color1;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 17px 3px;

}

.btn:hover {
  text-decoration: none;
  background: #c90447;
}

.btn2 {
  border-radius: 6px;
  background-color: $color2;
  color: $color1;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px 12px;

}

.btn2:hover {
  background: #005e76;
  text-decoration: none;
}

.btn3 {
  border-radius: 6px;
  border: 2px solid #7d7d7d;
  color: #7d7d7d;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 8px 12px;

}

.btn3:hover {
  background: #7d7d7d;
  color:$color1;
  text-decoration: none;
}

.link-mod {
  color:$color2;
}

.link-mod2 {
  color:$color4;
  text-decoration: underline;
}

.link-mod2:hover {
  text-decoration: none;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.nav__item {
  @extend %inb;
}

.nav__item:first-child:before {
  content: '';
}
.nav__item:before {
  content: ' > ';
  @extend %fs15;
  margin: 0 3px;
}

.nav__link {
  color:$color4;
  @extend %fs14;
  font-family: 'calibri';

}

.title {
  color: $color2;
  @extend %fs28;
  margin: 0 0 20px;
  line-height: 1;
  margin-top: 5px;
}

h1 {
  color: $color2;
  @extend %fs28;
  line-height: 1;
  margin: 35px 0 15px;
}

h3 {
  font-size: 20px;
}



 .title2 {
   margin: 35px 0;
   color: $color2;
   @extend %fs28;
   line-height: 1;
 }

 .title3 {
   margin:0;
 }

.select2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.select2 .jq-selectbox__select {
  border: 1px solid #dcd4f9;
  padding: 4px 9px;
  padding-right: 20px;
  padding-bottom: 2px;
}

.select2 .jq-selectbox__select-text {
  padding-bottom: 2px;
}

.select2 .select__list {
  width: 155px;
}

.select2 .jq-selectbox li {
  border-bottom: 1px solid #DCD4F9;
  color: #000000;
  padding: 7px 9px;
}

.select2 .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 0;
  height: 0;
  border-top: 6px solid #959595;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.select2 .jq-selectbox__dropdown {
  list-style-type: none;
  margin: -1px 0 0;
  padding: 0;
   width: 155px;
  box-sizing: border-box;
  border: 1px solid #DCD4F9;
  border-bottom: 0;
  border-top: 1px solid #DCD4F9;
}

.controls {
  position: relative;
  margin-bottom: 22px;
  margin-top: 15px;
  margin-left: 8px;
  @extend %fs14;
}

.controls__views {
  float: right;
}

.radio {
 /* position: absolute;
  top: -70px;
  right: 0px;*/
  width: 161px;
  }

.radio-label {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;

   }

.radio-label1 {
  margin-left: 10px;
  background:no-repeat center url(../img/icon-table.png); }

.radio-label2 {
  background:no-repeat center  url(../img/icon-list.png);
  position: relative; }



.radio-input {
  display: none; }

.radio-input1:checked + .radio-label1 {
  border: 1px solid #dcd4f9;
  }

.radio-input2:checked + .radio-label2 {
  border: 1px solid #dcd4f9;
}



.jq-checkbox,.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 8px 0 0;
  border: 1px solid #DCD4F8;
  cursor: pointer;
  border-radius: 50%;
}
.jq-checkbox.checked .jq-checkbox__div,.jq-radio.checked .jq-radio__div {
  width: 12px;
  height: 12px;
  margin: 0px 0 0 0px;
  border-radius: 50%;
  background: #85BB1D;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
}

.jq-checkbox.disabled,.jq-radio.disabled {
  opacity: .55;
}

.filter {
  padding: 30px 0;
  border: 1px solid #dcd4f9;
  margin-top: 25px;

}

.filter__wrap {
  padding: 0 24px;
  padding-right: 11px;
}

.filter__item {
  margin-bottom: 23px;

}

.filter .label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.filter__title {
  @extend %fs17;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__input {
  width: 67px;
  border: 1px solid #DCD4F8;

  margin: 11px 0;
  box-sizing: border-box;
  padding: 5px 9px;
}

.filter__price {
  @extend %fs14;
  margin-bottom: 2px;
}

.noUi-connect {
  border-radius: 2px;
  background-color: #85bb1d;
  box-shadow: inset 0 -3px 5px rgba(0,0,0,.15); /* inner shadow */

}

.noUi-background {
  border-radius: 2px;
  background-color: #ededef;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
  border: 0;
}

.noUi-handle:before {
  border: 8px solid transparent;
  border-bottom: 10px solid #959595;
  content: "";
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  background: none;
  left: 5px;
  top: -2px;
  cursor: pointer;
}

.noUi-handle:after {
  display: none;
}

.noUi-horizontal .noUi-handle {
  border: transparent;
  width: 27px;
  height: 12px;
  left: -13px;
  top: 17px;
  background: none;
  box-shadow: none;
}

.btn__group {
  margin: 0 5px;
  margin-top: 38px;
}

