/*Slider*/

.slider-main {
  margin-top: 10px;

  height: 240px;
  overflow: hidden;
  position: relative;
}




.slider-main__block {
  position: relative;
  background: no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
}

.slider-main-link {
  padding: 10px 24px;
  right: 145px;
  display: inline-block;
  text-decoration: none;
  color:$color1;
  font-weight: bold;
  @extend %fs14;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
  border-radius: 5px;
  z-index: 2;
  background-color: #23bde5; /* layer fill content */
  box-shadow: 0 1px 0 rgba(47,47,47,.75); /* drop shadow */
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* gradient overlay */

}



.slider-main img {
  height: 100%;
}

.slick-slider {
  margin-bottom: 0;
}
.slick-slide img {
  margin: 0 auto;
}

.slick-dots {
  bottom: -5px;
  right: 26px;
  text-align: right;
}

.slick-dots li button:before {
  font-size: 32px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  color: $color1;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: $color6;
  opacity: 1;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li {
  margin: 0;
}
.slick-dots li, .slick-dots li button {
  width: 19px;

}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 30px;
  margin-top: -10px\9;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: url("../img/icon-arrow-left.png") no-repeat;
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  background: url("../img/icon-arrow-left-a.png") no-repeat;
}

.slider-main .slick-prev {
  left: 14px;
}

.slider-main .slick-next {
  right: 14px;
}

.slick-prev {

  z-index: 1;
}
.slick-next {
  transform:rotate(180deg);
  margin-top: -15px;


  z-index: 1;
}
.slick-next {
  right: 14px;

  transform: rotate(180deg);
}

.slick-next:before, .slick-prev:before {
  content:'';

}


.logos .slick-slide {
  position: relative;
  height: 100px;
}

.logos .slick-slide img  {
  margin: auto;
  bottom: 0;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}


.logos .slider {
  width: 875px;

  margin: 51px auto 0;
}

.logos__link {
  display: block;
  text-decoration: none;
}
.slick-prev {
  left: -53px;

}
.slick-next {
  right:-53px;
}

.card__trumbs:hover .slick-next,.card__trumbs:hover:hover .slick-prev  {
  opacity: 1;
}

.slider-arrow2 .slick-next,.slider-arrow2 .slick-prev {
  background: url("../img/icon-arrow2-left.png") no-repeat;
  opacity: 0;
}

.slider-arrow2:hover .slick-next,.slider-arrow2:hover .slick-prev {
  opacity: 1;
}

.slider-arrow2 .slick-next:focus,.slider-arrow2 .slick-next:hover,.slider-arrow2 .slick-prev:focus,.slider-arrow2 .slick-prev:hover {
  background: url("../img/icon-arrow2-left.png") no-repeat;
}

.slider-arrow2 .slick-prev {
  left: -28px;

}

.slider-arrow2 .slick-next {
  right: -28px;

}


.slider-card {
  border: 1px solid $color3;
  padding: 20px 0;
}


.slider-card-nav {
  background: $color3;
  /*padding: 0 36px;*/
  width: 250px;
  margin: 0 auto;

}

.slider-card-nav .slick-slide:focus {
  border: 0;
  outline: 0;
}

.slider-card-nav__block {

}

.slider-card-nav__item {
  margin: 5px 0;
  width: 80px;
  height: 80px;
  text-align: center;
  background: $color1;
  cursor: pointer;
}

.slider-card-nav img {
  width: 100%;
}

.slider-item {
  width: 900px;
  margin: 0 auto;
}

.stand-wrap {
  width: 900px;
  margin: 0 auto;
  height: 125px;
}

.stand-wrap:hover {
  position: relative;
  z-index: 3;
}

.stand-wrap:hover {

}

.item-slider .slick-next,.slider-arrow2 .slick-prev {
  top: 56px;
}

.item-slider:hover .slick-next,.slider-arrow2 .slick-prev {
  background: url("../img/icon-arrow2-left.png") no-repeat;
  opacity: 0;
}

.item-slider:hover .slick-next,.slider-arrow2:hover .slick-prev {
  opacity: 1;
}

.stand-wrap .slick-list {
  overflow-x: hidden;
}


/*Slider End*/