//= template/head.html

<div class="basket">
    <div class="contain">
        <div class="basket__confirm">
            <h1 class="title">Оформление заказа</h1>
            <div class="basket__confirm__item">Водонагреватель Thermex ER 100V, 1 шт <span class="basket__confirm__price">2 612 </span><span class="rouble">i</span></div>
            <div class="basket__confirm__item">Водонагреватель Thermex ER 100V, 1 шт <span class="basket__confirm__price">2 612 </span><span class="rouble">i</span></div>
            <div class="basket__filter">
                <form action="" class="basket__filter__form">
                    <div class="basket__filter__item">
                        <div class="basket__filter__title">1. Способы получения</div>
                        <label class="label"><input type="radio" class="js-styler" name="basket__confirm1" value="1">Самовызов</label>
                        <label class="label label-right"><input type="radio" class="js-styler" name="basket__confirm1" value="2">Доставка</label>
                    </div>
                    <div class="basket__filter__item basket__filter__item-label-row">
                        <div class="basket__filter__title">2. Откуда заберете</div>
                        <label class="label"><input type="radio" class="js-styler" name="basket__confirm2" value="1">ТД «Стройдвор»,  Донбасская, 23а</label>
                        <label class="label"><input type="radio" class="js-styler" name="basket__confirm2" value="2">«Газсервис», Дорожная, 22б</label>
                    </div>
                </form>
            </div>
            <div class="basket__total">
                <div class="basket__total-text">Итого 5 244 <span class="rouble">i</span></div>
                <a href="#popup" class="btn btn2 btn-basket">Подтвердить</a>
            </div>
        </div>
        <div class="basket__items">
            <h1 class="title">Корзина</h1>
            <div class="basket__items__list item-col1">
                <div class="item ">
                    <div class="item__wrap">
                        <a href="card.html" class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                            <div class="basket__controls">
                                <div class="basket__conrols__price basket__conrols__label">2 612 <span class="rouble">i</span></div>
                                <div class="basket__conrols__label basket__conrols__label-number">
                                    <input type="number" class="basket__conrols__number js-styler" min="1" value="1">
                                </div>
                                <div class="basket__controls__sum basket__conrols__label">2 612 <span class="rouble">i</span></div>
                                <a href="compare.html" class="link link-mod">К сравнению</a>
                                <a href="#" class="close">X</a>
                            </div>
                        </div>
                </div>
                <div class="item item-stock ">
                    <div class="item__wrap">
                        <a href="card.html" class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <div class="basket__controls">
                            <div class="basket__conrols__price basket__conrols__label">2 612 <span class="rouble">i</span></div>
                            <div class="basket__conrols__label basket__conrols__label-number">
                                <input type="number" class="basket__conrols__number js-styler" min="1" value="1">
                            </div>
                            <div class="basket__controls__sum basket__conrols__label">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="close">X</a>
                        </div>

                    </div>

                </div>
                <div class="item item-sale">
                    <div class="item__wrap">
                        <a href="card.html" class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <div class="basket__controls">
                            <div class="basket__conrols__price basket__conrols__label">2 612 <span class="rouble">i</span></div>
                            <div class="basket__conrols__label basket__conrols__label-number">
                                <input type="number" class="basket__conrols__number js-styler" min="1" value="1">
                            </div>
                            <div class="basket__controls__sum basket__conrols__label">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="close">X</a>
                        </div>

                    </div>

                </div>
                <div class="basket__total">
                    <div class="basket__total-text">Итого 5 244 <span class="rouble">i</span></div>
                    <a href="#" class="btn btn2 btn-basket basket-link-confirm">Оформить заказ</a>
                </div>
            </div>
        </div>
      //= template/popup.html
    </div>
</div>



//= template/footer.html


