//= template/head.html

<div class="card">
    <div class="contain">
        <ul class="nav">
            <li class="nav__item"><a href="/" class="link nav__link">Главная</a></li>
            <li class="nav__item"><a href="#" class="link nav__link">Каталог</a></li>
        </ul>
        <h1 class="title">Водонагреватель накопительный Electrolux EWH-80 Centurio</h1>
        <div class="card__left">
            <div class="slider slider-card" data-slick='{"asNavFor": ".slider-card-nav","slidesToShow": 1,"slidesToScroll": 1, "arrows": false, "fade": true}'>
                <div>
                    <img src="img/card.png" alt="">
                </div>
                <div>
                    <img src="img/items/Layer-9.png" alt="">
                </div>
                <div>
                    <img src="img/items/Layer-6.png" alt="">
                </div>
                <div>
                    <img src="img/items/Layer-9.png" alt="">
                </div>
            </div>

           <!-- <div class="slider slider-card-nav" data-slick='{slidesToShow": 4, "slidesToScroll": 4,"asNavFor":".slider-card","dots": false}'>-->

            <div class="card__trumbs">
                <div class="slider slider-card-nav slider-arrow2"
                     data-slick='{"slidesToShow": 3, "slidesToScroll": 1,"asNavFor":".slider-card","focusOnSelect": true}'>
                    <div>
                        <div class="slider-card-nav__item">
                            <img src="img/card.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="slider-card-nav__item">
                            <img src="img/items/Layer-9.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="slider-card-nav__item">
                            <img src="img/items/Layer-6.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="slider-card-nav__item">
                            <img src="img/items/Layer-9.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__right">
            <div class="card__controls">
                <div class="card__price-sale"><s>29 612</s><span class="rouble">i</span></div>
                <div class="card__price">15 612 <span class="rouble">i</span></div>

                <a href="#" class="link btn">Купить</a>

                <div class="lines lines-7">
                     <span class="card__n">В наличии</span>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                    <div class="lines__item"></div>
                </div>
                <a href="compare.html" class="link link-mod">К сравнению</a>
                <a href="#" class="link link-mod">В закладки</a>
            </div>
            <div class="card__main">
                <div class="card__sale">Суперцена</div>
                Оценка покупателей
                <div class="rating rating-size rating-2">

                    <div class="rating__item"></div>
                    <div class="rating__item"></div>
                    <div class="rating__item"></div>
                    <div class="rating__item"></div>
                    <div class="rating__item"></div>
                </div>
                <div class="card__description">
                    Внутренний бак водонагревателя Electrolux EWH 80 Centurio сделан из
                    низкоуглеродистой нержавеющей стали, одобренной для использования в медицине и пищевом производстве.
                    ТЭН-ы выполнены из высококачественной меди с защитным покрытием.
                </div>
                <div class="card__description card__description-more">
                    Внутренний бак водонагревателя Electrolux EWH 80 Centurio сделан из
                    низкоуглеродистой нержавеющей стали, одобренной для использования в медицине и пищевом производстве.
                    ТЭН-ы выполнены из высококачественной меди с защитным покрытием.
                </div>
                <a href="#" class="link link-mod2 link-description-more">Подробнее</a>
            </div>
            <div class="card__nav-min">
                <ul class="card__nav-min__list">
                    <li class="card__nav-min__item card__nav-min-active"><a href="#" class="card__nav-min__link ">Характеристики</a></li>
                    <li class="card__nav-min__item"><a href="#" class="card__nav-min__link">Состав поставки</a></li>
                    <li class="card__nav-min__item"><a href="#" class="card__nav-min__link">Отзывы</a></li>
                    <li class="card__nav-min__item"><a href="#" class="card__nav-min__link">Акция</a></li>
                </ul>
                <div class="card__bg">
                    <table class="card__table">
                        <tr>
                            <td class="card__table__td">Тип</td>
                            <td class="card__table__td2">Котел отопления</td>
                        </tr>
                        <tr>
                            <td class="card__table__td">Температура подающей линии, макс., С</td>
                            <td class="card__table__td2">90</td>
                        </tr>
                        <tr>
                            <td class="card__table__td">Объем</td>
                            <td class="card__table__td2">80л</td>
                        </tr>
                        <tr>
                            <td class="card__table__td">Страна</td>
                            <td class="card__table__td2">Италия,швеция</td>
                        </tr>
                    </table>
                    <a href="#characteristics" class="link link-mod2 card__table__link">Все характеристики</a>
                </div>
            </div>
        </div>



            <div class="stand item-slider">
                <div class="stand__title">Похожие товары</div>
                <div class="stand-wrap">
                <div class="slider slider-item slider-arrow2" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
                    <div>
                        <div class="item item-stock">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
            <div class="stand item-slider">
                <div class="stand__title">С этим товаром покупают</div>
                <div class="stand-wrap">
                <div class="slider slider-item slider-arrow2" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
                    <div>
                        <div class="item item-stock">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">
                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>
                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>
                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="stand item-slider">
                <div class="stand__title">В этой же серии</div>
                <div class="stand-wrap">
                <div class="slider slider-item slider-arrow2" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
                    <div>
                        <div class="item item-stock">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item item-sale">
                            <div class="item__wrap">
                                <a href="card.html" class="link item__link">
                                    <img src="img/items/Layer-10.png" alt="" class="item__img">

                                    <div class="item__info">
                                        <div class="rating rating-2">
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                            <div class="rating__item"></div>
                                        </div>
                                        <div class="item__name">
                                            Водонагреватель Thermex ER 100V
                                        </div>
                                        <div class="item__price">29 612 <span class="rouble">i</span></div>
                                    </div>
                                </a>
                                <a href="compare.html" class="link link-mod">К сравнению</a>

                                <div class="item-hover">
                                    <a href="#" class="link btn">Купить</a>

                                    <div class="item__table">
                                        <div class="item__table__col">
                                            <div class="item__table__row"> Тип: <span
                                                    class="item__table__type">Накопительный</span></div>
                                            <div class="item__table__row">Тип установки: <span
                                                    class="item__table__type-install">Вертикальный</span></div>
                                        </div>
                                        <div class="item__table__col">
                                            <div class="item__table__row">Объем: <span
                                                    class="item__table__volume">50 литров</span></div>
                                            <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

<div class="card__nav">
    <ul class="card__nav__list">
        <li class="card__nav__item card__nav-active" id="characteristics"><a href="#" class="card__nav__link card__nav__link-car">Все характеристики</a></li>
        <li class="card__nav__item"><a href="#" class="card__nav__link card__nav__link-rev">Отзывы</a></li>
        <li class="card__nav__item"><a href="#" class="card__nav__link">Инструкции</a></li>
    </ul>
    <div class="card__bg">
        <div class="card__characteristics">
            <table class="card__table">
                <caption class="card__table__title">Технические характеристики</caption>
                <tr>
                    <td class="card__table__td">Тип</td>
                    <td class="card__table__td2">Котел отопления</td>
                </tr>
                <tr>
                    <td class="card__table__td">Способ нагрева</td>
                    <td class="card__table__td2">электрический</td>
                </tr>
                <tr>
                    <td class="card__table__td">Нагревательный элемент</td>
                    <td class="card__table__td2">трубчатый</td>
                </tr>
                <tr>
                    <td class="card__table__td">Напряжение сети</td>
                    <td class="card__table__td2">220в</td>
                </tr>
            </table>
            <table class="card__table">
                <caption class="card__table__title">Комфорт</caption>
                <tr>
                    <td class="card__table__td">Управления</td>
                    <td class="card__table__td2">Дисплей</td>
                </tr>
                <tr>
                    <td class="card__table__td">Функция</td>
                    <td class="card__table__td2">индикатор включения, термометр, ускоренный нагрев</td>
                </tr>
            </table>
        </div>
        <div class="review">
            <div class="review__item">
                <div class="review__row">
                    <div class="review__left">
                        <div class="review__date">11.03.2016, Светлана</div>
                    </div>
                    <div class="review__right">
                        <div class="rating rating-size rating-2">
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                        </div>
                    </div>
                </div>
                <div class="review__row">
                    <div class="review__left">Достоинства</div>
                    <div class="review__right">быстро нагревает работает бесшумно экономичен в электроэнергии не дорого
                        стоит. Удобная форма
                    </div>
                </div>
                <div class="review__row">
                    <div class="review__left">Недостатки</div>
                    <div class="review__right">Не обнаружил</div>
                </div>
                <div class="review__row">
                    <div class="review__left">Общее впечатление</div>
                    <div class="review__right">Эксплуатривал 5-й год без нареканий, постоянно включенный, при переезде
                        на новую квартиру забрал с собой! А вчера вырубился, предварительно отключив всю квартиру -
                        сработали УЗО. Приехал мастер, вскрыл: сгорели две платы и ещё какая-то длинная палка - датчик
                        :( На плате конденсаторы взорвались!!!
                    </div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__row">
                    <div class="review__left">
                        <div class="review__date">11.03.2016, Светлана</div>
                    </div>
                    <div class="review__right">
                        <div class="rating rating-size rating-2">
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                            <div class="rating__item"></div>
                        </div>
                    </div>
                </div>
                <div class="review__row">
                    <div class="review__left">Достоинства</div>
                    <div class="review__right">быстро нагревает работает бесшумно экономичен в электроэнергии не дорого стоит. Удобная форма</div>
                </div>
                <div class="review__row">
                    <div class="review__left">Недостатки</div>
                    <div class="review__right">Не обнаружил</div>
                </div>
                <div class="review__row">
                    <div class="review__left">Общее впечатление</div>
                    <div class="review__right">Эксплуатривал 5-й год без нареканий, постоянно включенный, при переезде на новую квартиру забрал с собой! А вчера вырубился, предварительно отключив всю квартиру - сработали УЗО. Приехал мастер, вскрыл: сгорели две платы и ещё какая-то длинная палка - датчик :( На плате конденсаторы взорвались!!!</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= template/footer.html


