//= template/head.html

<div class="block">
    <div class="contain">
        <ul class="nav">
            <li class="nav__item"><a href="/" class="link nav__link">Главная</a></li>
            <li class="nav__item"><a href="#" class="link nav__link">Каталог</a></li>
        </ul>


        <div class="block__left">
            <h1 class="title">Водоногреватели</h1>
            <ul class="cd-accordion-menu animated">
                <li class="">
                    <a href="#" class="cd-accordion-menu__link">Электрические проточные</a>
                </li>
                <li class="">
                    <a href="#" class="cd-accordion-menu__link">Электрические накопительные</a>
                </li>
                <li>
                    <a href="#" class="cd-accordion-menu__link">Газовые</a>
                </li>

            </ul> <!-- cd-accordion-menu -->
            <div class="filter">
                <form action="" class="filter__form">
                    <div class="filter__wrap">
                        <div class="filter__item">
                            <div class="filter__title">Наличие в магазинах</div>
                            <label class="label"><input type="radio" class="js-styler" name="filter1" value="1"> Есть в
                                наличие</label>
                            <label class="label"><input type="radio" class="js-styler" name="filter1" value="2">
                                Доступен
                                под заказ</label>
                        </div>
                        <div class="filter__item">
                            <div class="filter__title">Производитель</div>
                            <label class="label"><input type="checkbox" class="js-styler" name="filter2" value="1">
                                Ariston</label>
                            <label class="label"><input type="checkbox" class="js-styler" name="filter2" value="2">
                                Gorenje</label>
                            <label class="label"><input type="checkbox" class="js-styler" name="filter2" value="3">
                                Thermex</label>
                            <label class="label"><input type="checkbox" class="js-styler" name="filter2" value="4">
                                Zanussi</label>
                            <label class="label"><input type="checkbox" class="js-styler" name="filter2" value="5">
                                LG</label>
                        </div>
                        <div class="filter__item">
                            <div class="filter__title">Цена</div>
                            <div class="filter__price">
                                <input class="filter__input" id="filter__input-left">
                                —
                                <input class="filter__input" id="filter__input-right">
                                рублей
                            </div>
                            <div id="filter__slider"></div>

                        </div>
                    </div>
                    <div class="btn__group">
                        <a href="#" class="btn2">Применить</a>
                        <a href="#" class="btn3">Сбросить</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="block__right">

            <div class="controls">
                <div class="controls__views">
                    <div class="catalog__radio radio radio-catalog">
                        Вид каталога
                        <input id="radioId1" type="radio" name="radios" value="1" class="radio-input radio-input1" checked>
                        <label for="radioId1" class="radio-label radio-label1"></label>
                        <input id="radioId2" type="radio" name="radios" value="2" class="radio-input radio-input2">
                        <label for="radioId2" class="radio-label radio-label2"></label>
                    </div>
                </div>
                Сортировать по
                <div class="select select2">
                    <select class="select__list js-styler" >
                        <option>возрастанию цены</option>
                        <option>убыванию цены</option>
                        <option>цены</option>
                    </select>
                </div>



            </div>


            <div class="items item-col3">
                <div class="item">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                        <img src="img/items/Layer-10.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Водонагреватель Thermex ER 100V
                            </div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span
                                            class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span
                                            class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span
                                            class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                    </div>
                <div class="item item-stock">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>
                <div class="item item-sale">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>

                <div class="item">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>
                <div class="item item-stock">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>
                <div class="item item-sale">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>

                <div class="item">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>
                <div class="item item-stock">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>
                <div class="item item-sale">
                    <div class="item__wrap">
                        <a href="card.html"  class="link item__link">
                            <img src="img/items/Layer-10.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Водонагреватель Thermex ER 100V
                                </div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span
                                                class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span
                                                class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span
                                                class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="item__controls">
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <a href="compare.html" class="link link-mod">К сравнению</a>
                            <a href="#" class="link btn">Купить</a></div>
                    </div>
                </div>

                </div>

            </div>
        </div>
    </div>
</div>



//= template/footer.html


