//= template/head.html

<div class="compare">
    <div class="contain">

        <h1 class="title">Сравнение товаров</h1>
        <div class="select select2">
            <select class="select__list js-styler" >
                <option>Все категории</option>
                <option>убыванию цены</option>
                <option>цены</option>
            </select>
        </div>

        <div class="basket__filter">
            <form action="" class="basket__filter__form">
                <div class="basket__filter__item basket__filter__item-label-row">
                    <label class="label"><input type="radio" class="js-styler" name="basket__confirm2" value="1">Все параметры</label>
                    <label class="label"><input type="radio" class="js-styler" name="basket__confirm2" value="2">Только отличающиеся</label>
                </div>
            </form>
        </div>
        <div class="basket__compare card__nav">
            <table class="card__table basket__table-item">
                <tr>
                    <td class="card__table__td"></td>
                    <td class="card__table__td2">
                        <a href="card.html" class="basket__item">
                            <img src="img/items/Layer-10.png" alt="" class="basket__img">
                            <div class="basket__name">Водонагреватель Thermex ER 100V</div>
                        </a>
                    </td>
                    <td class="card__table__td2">
                        <a href="card.html" class="basket__item">
                            <img src="img/items/Layer-10.png" alt="" class="basket__img">
                            <div class="basket__name">Водонагреватель Thermex ER 100V</div>
                        </a>
                    </td>
                    <td class="card__table__td2">
                        <a href="card.html" class="basket__item">
                            <img src="img/items/Layer-10.png" alt="" class="basket__img">
                            <div class="basket__name">Водонагреватель Thermex ER 100V</div>
                        </a>
                    </td>
                    <td class="card__table__td2">
                        <a href="card.html" class="basket__item">
                            <img src="img/items/Layer-10.png" alt="" class="basket__img">
                            <div class="basket__name">Водонагреватель Thermex ER 100V</div>
                        </a>
                    </td>
                </tr>
            </table>
            <table class="card__table">
                <caption class="card__table__title">Комфорт</caption>
               <tr>
                    <td class="card__table__td">Индикатор включения</td>
                    <td class="card__table__td2">+</td>
                   <td class="card__table__td2">-</td>
                   <td class="card__table__td2">-</td>
                   <td class="card__table__td2">-</td>
                </tr>
                <tr>
                    <td class="card__table__td">Термомет</td>
                    <td class="card__table__td2">-</td>
                    <td class="card__table__td2">+</td>
                    <td class="card__table__td2">+</td>
                    <td class="card__table__td2">+</td>
                </tr>
                <tr>
                    <td class="card__table__td">Ускоренный нагрев</td>
                    <td class="card__table__td2">+</td>
                    <td class="card__table__td2">-</td>
                    <td class="card__table__td2">-</td>
                    <td class="card__table__td2">-</td>
                </tr>
            </table>
            <table class="card__table">
                <caption class="card__table__title">Комфорт</caption>
                <tr>
                    <td class="card__table__td">Габариты</td>
                    <td class="card__table__td2">90*30*50см</td>
                    <td class="card__table__td2">80*40*50см</td>
                    <td class="card__table__td2">80*40*50см</td>
                    <td class="card__table__td2">80*40*50см</td>
                </tr>
                <tr>
                    <td class="card__table__td">Вес</td>
                    <td class="card__table__td2">20кг</td>
                    <td class="card__table__td2">18кг</td>
                    <td class="card__table__td2">18кг</td>
                    <td class="card__table__td2">18кг</td>
                </tr>
            </table>
        </div>
    </div>
</div>



//= template/footer.html


