//= template/head.html

<div class="block">
    <div class="contain">
        <div class="block__left">
            <ul class="cd-accordion-menu animated">
                <li class="has-children">
                    <input type="checkbox" name="group-1" id="group-1">
                    <label for="group-1">Газовое оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-2" id="group-2">
                    <label for="group-2">Водоснабжение и отопление</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-3" id="group-3">
                    <label for="group-3">Газовые плиты</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-4" id="group-4">
                    <label for="group-4">Насосное оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-5" id="group-5">
                    <label for="group-5">Дымоходы</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-6" id="group-6">
                    <label for="group-5">Смесители</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-7" id="group-7">
                    <label for="group-7">Мебель для ванных комнат</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-8" id="group-8">
                    <label for="group-8">Душевые кабины</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-9" id="group-9">
                    <label for="group-9">Санфаянс</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-10" id="group-10">
                    <label for="group-10">Ванны</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>


            </ul> <!-- cd-accordion-menu -->
        </div>
        <div class="block__right">
            <div class="payment">

                <h1>Доставка</h1>
                <br>


                    <table>
                        <caption class="card__table__title">Доставка по городу</caption>
                        <tr>
                            <td class="card__table__td">Тип доставки</td>
                            <td class="card__table__td2">Стандартная</td>
                            <td class="card__table__td2">Бытовая техника</td>
                            <td class="card__table__td2">Крупногабаритная</td>
                        </tr>
                        <tr>
                            <td class="card__table__td">Цена</td>
                            <td class="card__table__td2">от 170 рублей</td>
                            <td class="card__table__td2">от 270 рублей</td>
                            <td class="card__table__td2">от 270 рублей</td>
                        </tr>
                        <tr>
                            <td class="card__table__td" width="190">Характеристики товара</td>
                            <td class="card__table__td2" width="138">объем до 0,25м3, вес до 50кг</td>
                            <td class="card__table__td2">газовые плиты, водонагреватели</td>
                            <td class="card__table__td2">объем до 12м3</td>
                        </tr>
                        <tr>
                            <td class="card__table__td">Особенности</td>
                            <td class="card__table__td2">—</td>
                            <td class="card__table__td2" width="138">подъем по лестнице — 50рублей/этаж</td>
                            <td class="card__table__td2" width="138">подъем по лестнице — 100рублей/этаж</td>
                        </tr>
                    </table>

                        <h3 >Как заказать доставку</h3>

                            <p>Выберите любой понравившийся товар и оформите его покупку. Мы предложим вам подходящий вид доставки. Введите ваш адрес и удобное время, и наш специалист свяжется с вами для подтверждения времени. Оплатить заказ вы можете на сайте или курьеру при получении.
                               </p>
                        <p> На все возникшие вопросы мы ответим по телефону 8 (800) 200-21-83</p>




            </div>
        </div>
    </div>
</div>



//= template/footer.html


