//= template/head.html

<div class="block">
    <div class="contain">
        <div class="block__left">
            <ul class="cd-accordion-menu animated">
                <li class="has-children">
                    <input type="checkbox" name="group-1" id="group-1">
                    <label for="group-1">Газовое оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-2" id="group-2">
                    <label for="group-2">Водоснабжение и отопление</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-3" id="group-3">
                    <label for="group-3">Газовые плиты</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-4" id="group-4">
                    <label for="group-4">Насосное оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-5" id="group-5">
                    <label for="group-5">Дымоходы</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-6" id="group-6">
                    <label for="group-5">Смесители</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-7" id="group-7">
                    <label for="group-7">Мебель для ванных комнат</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-8" id="group-8">
                    <label for="group-8">Душевые кабины</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-9" id="group-9">
                    <label for="group-9">Санфаянс</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-10" id="group-10">
                    <label for="group-10">Ванны</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>


            </ul> <!-- cd-accordion-menu -->
        </div>
        <div class="block__right">
            <div class="discount">
                <div class="controls">
                    Категория товаров
                    <div class="select select2">
                        <select class="select__list js-styler" >
                            <option>Мебель для ванных комнат</option>
                            <option>убыванию цены</option>
                            <option>цены</option>
                        </select>
                    </div>
                </div>
                <h1 class="title2">Акции</h1>
                <div class="discount__list">
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>
                    <a href="#" class="discount__item">
                        <img src="img/discount.png" alt="" class="discount__img">
                        <div class="discount__date">13.03.2016 — 28.04.2016</div>
                        <div class="discount__name">При покупке душевой</div>
                    </a>

                </div>
                <a href="#" class="link-mod2">Архив акций</a>
            </div>
        </div>
    </div>
</div>



//= template/footer.html


