//= template/head.html

<div class="block">
    <div class="contain">
        <div class="block__left">
            <ul class="cd-accordion-menu animated">
                <li class="has-children">
                    <input type="checkbox" name="group-1" id="group-1">
                    <label for="group-1">Газовое оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-2" id="group-2">
                    <label for="group-2">Водоснабжение и отопление</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-3" id="group-3">
                    <label for="group-3">Газовые плиты</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-4" id="group-4">
                    <label for="group-4">Насосное оборудование</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-5" id="group-5">
                    <label for="group-5">Дымоходы</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-6" id="group-6">
                    <label for="group-5">Смесители</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-7" id="group-7">
                    <label for="group-7">Мебель для ванных комнат</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-8" id="group-8">
                    <label for="group-8">Душевые кабины</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-9" id="group-9">
                    <label for="group-9">Санфаянс</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <input type="checkbox" name="group-10" id="group-10">
                    <label for="group-10">Ванны</label>
                    <ul>
                        <li>
                            <a href="#0" class="cd-accordion-menu__link">Водонагреватели</a>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Котлы отопительные</a>
                            <div class="menu-hover">
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические накопительные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Электрические проточные</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                                <div class="menu-hover__item">
                                    <a href="#" class="menu-hover__title">Газовые</a>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                    <div><a href="#" class="menu-hover__link">Настенные</a></div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#0" class="cd-accordion-menu__link">Насосы</a></li>
                    </ul>
                </li>


            </ul> <!-- cd-accordion-menu -->
            <a href="#" class="banner">
                <img src="img/banners/banner1.jpg" alt="" class="banner__img">
            </a>
            <a href="#"  class="banner">
                <img src="img/banners/banner2.jpg" alt="" class="banner__img">
            </a>
            <a href="#"  class="banner">
                <img src="img/banners/banner3.jpg" alt="" class="banner__img">
            </a>
            <a href="#" class="banner">
                <img src="img/banners/banner4.jpg" alt="" class="banner__img">
            </a>
        </div>
        <div class="block__right">
            <div class="slider slider-main" data-slick='{"dots": true, "fade": true}'>
                <div>
                    <div class="slider-main__block" style="background-image: url('img/slider1.png')" >
                        <a href="#" class="slider-main-link">Перейти в раздел душевых кабин</a>
                    </div>
                </div>
                <div>
                    <div class="slider-main__block" style="background-image: url('img/slider2.png')">
                        <a href="#" class="slider-main-link">Перейти в раздел душевых кабин</a>
                    </div>
                </div>
                <div>
                    <div class="slider-main__block" style="background-image: url('img/slider3.png')">
                        <a href="#" class="slider-main-link">Перейти в раздел душевых кабин</a>
                    </div>
                </div>
            </div>

            <div class="stand item-col4">
                <div class="stand__title">Новинки</div>
                    <div class="item">
                        <a href="card.html" class="item__wrap">
                            <img src="img/items/Layer-5.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Насос циркуляционный Oasis 25/4
                                </div>
                                <div class="item__price">2 612 <span class="rouble">i</span></div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="link btn">Купить</a>
                    </div>
                    <div class="item">
                        <a href="card.html" class="item__wrap">
                            <img src="img/items/Layer-5.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-1">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Насос циркуляционный Oasis 25/4
                                </div>
                                <div class="item__price">2 612 <span class="rouble">i</span></div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="link btn">Купить</a>
                    </div>
                    <div class="item">
                        <a href="card.html" class="item__wrap">
                            <img src="img/items/Layer-5.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-3">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Насос циркуляционный Oasis 25/4
                                </div>
                                <div class="item__price">2 612 <span class="rouble">i</span></div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="link btn">Купить</a>
                    </div>
                    <div class="item">
                        <a href="card.html" class="item__wrap">
                            <img src="img/items/Layer-5.png" alt="" class="item__img">
                            <div class="item__info">
                                <div class="rating rating-2">
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                    <div class="rating__item"></div>
                                </div>
                                <div class="item__name">
                                    Насос циркуляционный Oasis 25/4
                                </div>
                                <div class="item__price">2 612 <span class="rouble">i</span></div>
                                <div class="item__table">
                                    <div class="item__table__col">
                                        <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                        <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                    </div>
                                    <div class="item__table__col">
                                        <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                        <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="link btn">Купить</a>
                    </div>
            </div>

            <div class="stand item-col4">
                <div class="stand__title">Распродажа</div>
                <div class="item item-sale">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item item-sale">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item item-sale">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item item-sale">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
            </div>
            <div class="stand item-col4">
                <div class="stand__title">Хиты продаж</div>
                <div class="item">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
                <div class="item">
                    <a href="card.html" class="item__wrap">
                        <img src="img/items/Layer-5.png" alt="" class="item__img">
                        <div class="item__info">
                            <div class="rating rating-2">
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                                <div class="rating__item"></div>
                            </div>
                            <div class="item__name">
                                Насос циркуляционный Oasis 25/4
                            </div>
                            <div class="item__price-sale"><s>2 612</s><span class="rouble">i</span></div>
                            <div class="item__price">2 612 <span class="rouble">i</span></div>
                            <div class="item__table">
                                <div class="item__table__col">
                                    <div class="item__table__row"> Тип: <span class="item__table__type">Накопительный</span></div>
                                    <div class="item__table__row">Тип установки: <span class="item__table__type-install">Вертикальный</span></div>
                                </div>
                                <div class="item__table__col">
                                    <div class="item__table__row">Объем: <span class="item__table__volume">50 литров</span></div>
                                    <div class="item__table__row">Крепление: <span class="item__table__mount">в комплекте</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="link btn">Купить</a>
                </div>
            </div>
            <div class="stand item-col4">
                <div class="stand__title">Новости</div>
                <div class="news">
                    <div class="news__item">
                        <div class="news__date">28 октября 2013</div>
                        <div class="news__text">Не пропустите акцию !!! Снижены цены!!!</div>
                        <a href="#" class="news__link">далее</a>
                    </div>
                    <div class="news__item">
                        <div class="news__date">28 октября 2013</div>
                        <div class="news__text">Не пропустите акцию !!! Снижены цены!!!</div>
                        <a href="#" class="news__link">далее</a>
                    </div>
                    <div class="news__item">
                        <div class="news__date">28 октября 2013</div>
                        <div class="news__text">Не пропустите акцию !!! Снижены цены!!!</div>
                        <a href="#" class="news__link">далее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="logos">
        <div class="slider slider-col6" data-slick='{"slidesToShow": 6, "slidesToScroll": 6}'>
            <div>
                <a href="#" class="logos__link"><img src="img/logo1.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo2.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo3.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo4.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo5.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo6.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo1.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo2.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo3.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo4.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo5.png"></a>
            </div>
            <div>
                <a href="#" class="logos__link"><img src="img/logo6.png"></a>
            </div>

        </div>
</div>

//= template/footer.html


